{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<main>
    <div id="left-menu">
        <span>Left Menu</span>
        <br>
        <div class="user-list">
            <h2>Users</h2>
            <br />
            <ul class="list-group">
                {% for user in users %}
                <li class="list-group-item list-group-item-secondary" ><a href="{% url 'chat' user.id %}" class="user-link text-info" data-user-id="{{ user.id }}">{{ user.username }}</a></li>
                <br />
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="main-content">
        <span>Main Content</span>
        <br>
        <div id="chat-container">
            <!-- Chat content will be loaded here -->
        </div>
    </div>
    <div id="right-panel">
        Right Panel
        <br>
        <button id="collapse-button" class="btn btn-secondary text-sm mx-2">Collapse Left Menu</button>
    </div>
</main>

{% endblock %}